{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="input-field">
            <p>
                {{ form.username.label }} <br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
            </p>
            <p>
                {{ form.password.label }} <br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                
            </p>
            <!-- <p>{{ form.remember_me() }} <span>{{ form.remember_me.label}}</span></p> -->
            <p>{{ form.submit(class_='btn white-text') }}</p>
            <a href="{{ url_for('register') }}" class="btn">Create New Account</a>
        </div>
    </form>

{% endblock %}

<!-- (for_='remember_me') -->